

.img-fluid{
  height:120px;
  width: 100px;
}

.img-fluid2{
  height: 50px;
  width: 50px;
}

.cards{
text-align:center;  
display: inline-block;
margin:100px;
}
.card-img-bottom1{
  height: 200px;
  width: 250px;
}
.card{
  display: inline-block !important;
  margin: 5%;
  max-width: 900px;  
  border-radius: 40px;
}
.cardinpantallapincusers{
  background-color: #189DAD  ;
          color: #8DF1FC    ;
          border-radius: 40px;
}
.cardin1pantallapincusers{
background-color: #FFA07A;
color: wheat;
}
.cardin2pantallapincusers{
background-color: #7FDFF3;
color: #31B8D3 ;
}
.cardin3pantallapincusers{
background-color: #F1C935 ;
color: #8D7419 ;
border-radius: 40px;
}
.Cardsespecialdeinciopaginap{
  margin: auto;
  background-color:white;
  box-sizing: border-box 2px;
  padding: 40px;
  margin-bottom:106px;   
}
.tamañoEstilo{
font-family: fantasy;
text-align: center;

}
.Cards1cardinpantallapincusers{
  background-repeat: no-repeat;
  margin: auto;
  box-sizing: border-box 2px;
  padding: 40px;
  margin-bottom:106px;
  background-image: url("https://static.nationalgeographicla.com/files/styles/image_3200/public/24_colombia_biodiversity_i8951_180721_01578.jpg?w=710&h=533");
  background-size:100% 100%;   
}
.UBICACION{
  display: inline-block;
}
.Alto{
  width: 200px;
}

.tamaño{
  max-width: 700px;  
}
.card0{
  display: inline-block !important;
  margin: 5%;
  width: 33rem;  
  background-color: #189DAD  ;
  color: #8DF1FC;
  margin: 60px;
}
.ESTILOpantallaprinci{
font-size: 52px;
font-family: monospace, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: bold;
background-size:100% 100%;

}
.SUBTITULO{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style:oblique;
  font-variant-east-asian: simplified;
}
.SUBTITULO1DECASA{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style:oblique;
  font-variant-east-asian: simplified;
  color: white;
  font-size: 24px;
  color: white;
  text-align: center;
}
.Imagenespaginaprincipal{
  margin: 10px;
  display: flex;
  background-color: #A5EBF3;
}
.SUBTITULO2{
  margin-top:16%;
  margin-left:5%;
  margin-right:5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:#0AA4CA ;
text-align: center;

}
.margenpantallaprinci{
  background-color:#C2F1FC ;
  margin: auto;
  box-sizing: border-box 2px;
  padding: 40px;
  margin-bottom:106px;   
  display: flex;
  border-radius: 40px;
}
.img-fluid1{
height:600px ;

}
.SUBTITULO3{
font-style: bold;
font-size:48px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #0AA4CA ;
text-align: center;
background-color:#C2F1FC ;
}
.SUBTITULO4Priccipalpage{
  font-style: bold;
font-size:48px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #8D7419 ;
text-align: center;

}
.t3{
  color: #8D7419 ; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  text-align: center ;

}
.card-img-top{
  border-radius: 40px;
}
.img-fluidospaginaprincipal{
  height:100px ;
  width: 100px;
 
}
.Tituloenpaginaprincipal{
  font-style: bold;
  font-size:48px;
  text-align: center;
  background-color: #D2F1F9;
}
.Parrafosenpaginaprincipal{
  background-color: transparent ;
}
.Parrafosenpaginaprincipal1{
  background-color: transparent ;
}
.Tituloenpaginaprincipal2{
  margin-top: 9%;
  font-style: bold;
  font-size:48px;
  text-align: center;
  background-color: #D2F1F9;
  background-color: transparent;
}
.bg-white1{
  background-color: transparent;
}

.btnpantallapricipaldellamado{
  height: 25px; 
  width:300px;
  
 }
.btn-infopantallaprincipal{
  background-color:transparent;
}
.AppFondopaginadeenlaces{
  background-image: url(https://as1.ftcdn.net/jpg/02/09/46/12/500_F_209461275_p8RcER2WsXXCYUWOqf9oIMtU1MqCZPjE.jpg);
}



.img-iconoheadercampe{
  height:80px;
  width: 80px;
}

.btn1-header{
  height: 35px; 
  width:500px; 
  margin-top: 20px;
}
.btn-ingresar-pagina{
  height: 45px; 
  margin-top: 15px;
}

@media all and (max-width: 640px), (max-height: 360px){
  .Header{
    max-width: 640px;
    height: auto;
  
  }
  .margenpantallaprinci{
  max-width:  500px;
  max-height:500px;
  margin-left: 1%;

  }
  .Tituloenpaginaprincipal2{
   font-family:  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
   background-color: #3EBFEF ;
   color: white;
   font-size: 24px;
  
  }
  .Imagenespaginaprincipal{
   display: none;

  }
 
  .Eiminaciondecarrusel{
    display: none;
  }
  .Cards1cardinpantallapincusers{
  background-image: none;
  background-color: #1FCAD8 ;  
  }
  .ESTILOpantallaprinci{
    background-color:#C4F4F5   ;
    color: #21D4D6  ;
    border-radius: 80%;
    text-align: center;
  }
  .Parrafosenpaginaprincipal1{
    color: #D1F9F9 ;
  }
  .SUBTITULO4Priccipalpage{
    font-size: 24px;
  }
  .eliminacionprinc{
    display: none;
  }
  .Tituloenpaginaprincipal{
    color: #C2F1FC ;
  }
  .bg-whitecolorcitoprin{
    background-color:  #189DAD ;
  }
  .nav-item2 {
    padding: 10px 0px 10px 0px;
  }
.carousel{
  display: none;
}
.normal-nav{
  margin-left: -160px;
}
.btn-ingresar-pagina{
  margin-left: 20px;
  width: 286px;
  margin-top: -10px;
}

}