.eco {
    margin-bottom: initial;
    margin-left: 10x;
    width: 100%;
    height: 100%;
    display: block;
    background-color: cadetblue;
   }
   
   .agrito {
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   }
   
   .conexion440 {
    display: inline-block;
    width: 30rem;
    background-color: cadetblue;
    margin-top: 90px;
    color: cadetblue;
    border-radius: 40px;
    margin-left: 500px;
    margin-right: 10px;
   }
   
   .texto {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: cornsilk;
   }
   
   .texto1 {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: black;
    text-align: center;
   }
   
   .imagencita {
    height: 200px;
    width: 200px;
   }
   
   .imagencita2 {
    height: 200px;
    width: 200px;
   }
   
   .imagencita3 {
    height: 200px;
    width: 200px;
   }
   
   .imagencita4 {
    height: 200px;
    width: 200px;
   }
   
   .imagencita5 {
    height: 200px;
    width: 200px;
   }
   
   .imagencita6 {
    height: 200px;
    width: 200px;
   }
   
   @media all and (max-width: 640px), (max-height: 360px) {
    .eco {
      margin-bottom: initial;
      margin-left: 10x;
      width: 160%;
      height: 190%;
      display: block;
      background-color: cadetblue;
    }
   
    .agrito {
      text-align: center;
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
   
    .conexion440 {
      display: inline-block !important;
      margin-left: 95px;
      width: 20rem;
      background-color: cadetblue;
      margin-top: 30px;
      color: cadetblue;
      border-radius: 40px;
      margin-left: 150px;
    }
   
    .texto {
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      text-align: center;
      color: cornsilk;
    }
   
    .texto1 {
      font-size: small;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: black;
      text-align: end;
    }
   
    .imagencita {
      height: 290px;
      width: 320px;
    }
   
    .imagencita2 {
      height: 290px;
      width: 320px;
    }
   
    .imagencita3 {
      height: 290px;
      width: 320px;
    }
   
    .imagencita4 {
      height: 290px;
      width: 320px;
    }
   
    .imagencita5 {
      height: 290px;
      width: 320px;
    }
   
    .imagencita6 {
      height: 290px;
      width: 320px;
    }
   
    .carousel {
      display: none;
    }
   }
   