.carddecapacitadorenconexiones{
    margin-bottom: initial;
      margin-left: 10x;
      width: 100%;
      height: 100%;
      display: block;
      background-color: cadetblue;
   }
   
   .card-headerdelcapacitadorenconex{
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
   
   .card44{
      display: inline-block;
      width: 30rem; 
      background-color: cadetblue  ;
      margin-top: 90px;
      color: cadetblue  ;
      border-radius: 40px;
      margin-left: 500px;
      margin-right: 10px;
   }
   
   .card-titledecapacitadorenconex{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: cornsilk;
   }
   
   .card-text1{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
   }
   
   .card-img01{
    height:200px;
    width: 200px;
   }
   
   .card-img02{
    height:200px;
    width: 200px;
   }
   
   .card-img03{
    height:200px;
    width: 200px;
   }
   
   .card-img04{
    height:200px;
    width: 200px;
   }
   
   .card-img05{
    height:200px;
    width: 200px;
   }
   
   .card-img06{
    height:200px;
    width: 200px;
   }
   
   @media all and (max-width: 640px), (max-height: 360px){
    .carddecapacitadorenconexiones{
      margin-bottom: initial;
        margin-left: 10x;
        width: 160%;
        height: 190%;
        display: block;
        background-color: cadetblue;
    }
     .card-headerdelcapacitadorenconex{
      text-align: center;
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
     .card44{
      display: inline-block !important;
        margin-left: 95px;
        width: 20rem; 
        background-color: cadetblue  ;
        margin-top: 30px;
        color: cadetblue  ;
        border-radius: 40px;
        margin-left: 150px
    }
     .card-titledecapacitadorenconex{
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;
      color: cornsilk;
    }
     .card-text1{
      font-size: small;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: black;
      text-align: end;
    }
     .card-img01{
      height:290px;
      width: 320px;
    }
     .card-img02{
      height:290px;
      width: 320px;
    }
     .card-img03{
      height:290px;
      width: 320px;
    }
     .card-img04{
      height:290px;
      width: 320px;
    }
     .card-img05{
      height:290px;
      width: 320px;
    }
     .card-img06{
      height:290px;
      width: 320px;
    }
   
    .carousel{
      display: none;
    }
     
    }
   