.cuadro {
    margin-left: 700px;
    width: 450px;
    height: 350px;
    color: black;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: aqua;
   }
   .centroooo{
     color: white;
   }
   .cursossubir {
    width: 90%;
    height: 80%;
    margin-left: 30%;
    margin-right: 10%;
   }
   
   .subir {
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   }
   
   .leer {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: black;
   }
   .form-cursocapa{
     margin: auto;
     padding-top: 30px;
   }
   .parrafo1-cursocapa{
     font-family: 'Times New Roman', Times, serif;
     padding: 10px 100px 10px 100px;
     text-align: center;
     font-size: 20px;
   }
   
   @media all and (max-width: 640px), (max-height: 360px) {
    .cuadro {
      margin-left: 400px;
      margin-right: 100px;
      width: 80rem;
      height: 70px;
    
      color: black;
      font-size: xx-large;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
   
    .cursossubir {
      width: 60rem;
      height: 20rem;
      margin-left: 10px;
      margin-right: 10px;
    }
   
    .subir {
      text-align: center;
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      width: 65rem;
    }
   
    .leer {
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      text-align: center;
      color: black;
      width: 65rem;
    }
    .parrafo1-cursocapa{
      font-family: 'Times New Roman', Times, serif;
      padding: 10px 10px 20px 10px;
      text-align: justify;
      font-size: 18px;
    }
    .contenedor-titulo-cursocapa{
      margin-top: 20px;
    }
   }
   