/*CSS GENERAL, COMO TITULOS Y PARRAFOS*/
/*Parrafos*/
.parrafo1-actualizardatoscampe{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
}

/*BODY*/
/*Título Bienvenido a Aprende con Ecoagro*/
.development-actualizardatoscampe{
    text-align: center;
     margin-top: 30px;
  }
.titulobody-actualizardatoscampe{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0AA4CA ;
    text-align: center;
}
  /*Titulo aquí te presentamos...*/
.social-actualizardatoscampe{
    text-align: center;
    margin-top:10px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0AA4CA;
    font-style:oblique;
}
  /*Los dos primeros parrafos*/
.component-text-actualizardatoscampe{
    margin-top: 15px;
    padding: 0px 100px 0px 100px;
    text-align: center;
}
/*Cuadros de texto*/
.form-actualizardatoscampe {
    margin-left: 400px;
    margin-bottom: 5%;
    margin-top: 60px;
}
.among-actualizardatoscampe{
    margin: 40px 0px 40px 0px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0AA4CA;
    font-style:oblique;
}
.btnalinearenelcentrocontenedor-botonconfirmaractucampe{
    margin-left: -20px;
    width: 530px;
}

@media all and (max-width: 640px), (max-height: 360px){

    /*CSS GENERAL, COMO TITULOS Y PARRAFOS*/
/*Parrafos*/
.parrafo1-actualizardatoscampe{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: justify;
}

/*BODY*/
/*Título Bienvenido a Aprende con Ecoagro*/
.development-actualizardatoscampe{
    text-align: center;
     margin-top: 30px;
  }
.titulobody-actualizardatoscampe{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0AA4CA ;
    text-align: center;
}
  /*Titulo aquí te presentamos...*/
.social-actualizardatoscampe{
    margin-top:10px;
  text-align: center;
  font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0AA4CA;
  font-style:oblique;
  font-size: 20px;
}
  /*Los dos primeros parrafos*/
.component-text-actualizardatoscampe{
    margin-top: 30px;
    padding: 0px 10px 0px 10px;
    text-align: justify;
}
/*Cuadros de texto*/
.form-actualizardatoscampe {
    margin-left: 1px;
    margin-bottom: 80px;
    margin-top: 60px;
}
.among-actualizardatoscampe{
    margin: 10px 0px 10px 0px;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0AA4CA;
    font-style:oblique;
}
.btnalinearenelcentrocontenedor-botonconfirmaractucampe{
    width: 330px;
    margin-left: -13px;
}
}