/*CSS GENERAL, COMO TITULOS Y PARRAFOS*/
/*Subtitulos*/
h2{
    justify-content: center;
    text-align: center;
  }
  /*Letra y tamaño de todos los parrafos*/
  .parrafo1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
    
  
  /*CSS HEADER*/
  /*Medidas de el logo del equipo*/
  .img-fluid{
    height:80px;
    width: 80px;
  }
  /*Botón cerrar sesión*/
  .btn1{
    height: 25px; 
    width:500px; 
  }
  /*Opciones del navbar que contienen dos lineas*/
  .edit1{
    width: 140px;
  }
  /*Centrar las opciones de navbar*/
  .nav-item{
    text-align: center;
  }
  /*Padding para centrar las opciones del navbar que solo ocupan una linea*/
  .nav-item2 {
    padding: 10px 0px 10px 0px;
  }
  