
  /*CSS HEADER*/
  /*Medidas de el logo del equipo*/
  .img-iconoheadercampe{
    height:80px;
    width: 80px;
  }
  /*Botón cerrar sesión*/
  .btn1-header-campe{
    height: 25px; 
    width:500px; 
  }
  /*Opciones del navbar que contienen dos lineas*/
  .edit1-nabvarcampesino{
    width: 140px;
  }
  /*Centrar las opciones de navbar*/
  .nav-item-campesino{
    text-align: center;
  }
  /*Padding para centrar las opciones del navbar que solo ocupan una linea*/
  .nav-item-campesino2 {
    padding: 10px 0px 10px 0px;
  }

@media all and (max-width: 640px), (max-height: 360px){
 .Header-nabvarcampesino{
 height: 85px;
 width: 360px;
 }
   /*Medidas de el logo del equipo*/
   .img-iconoheadercampe{
    height:80px;
    width: 80px;
  }
  /*Botón cerrar sesión*/
  .btn1-header-campe{
    height: 25px; 
    width:500px; 
  }
  /*Opciones del navbar que contienen dos lineas*/
  .edit1-nabvarcampesino{
    width: 200px;
    padding: 0px 20px;
    margin-left: 60px;
  }
  /*Centrar las opciones de navbar*/
  .nav-item-campesino{
    text-align: center;
  }
  /*Padding para centrar las opciones del navbar que solo ocupan una linea*/
  .nav-item-campesino2 {
    padding: 10px 0px 10px 0px;
  }
.carousel{
  display: none;
}
.normal-nav{
  margin-left: -160px;
}
.btn-cerrarcampe{
  width: 286px;
  margin-left: 20px;
}
.edit2-nece{
  margin-left: 70px;
}
}
  