/*CSS GENERAL, COMO TITULOS Y PARRAFOS*/
/*Botones de cards*/
.btn3{
    width: 130px;
  }
  /*Parrafos*/
  .parrafo1{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
  }
  
  
  /*CSS BODY*/
  /*Título Bienvenido a tu perfil de EcoAgro*/
  .development{
    text-align: center;
     margin-top: 30px;
  }
  .titulobody{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #0AA4CA ;
  }
  /*Titulo aquí te presentamos...*/
  .social{
    text-align: center;
  }
  /*Los dos primeros parrafos*/
  .component-text{
    margin-top: 15px;
    padding: 0px 100px 0px 100px;
    text-align: center;
  }
  /*Contenedor de cambiar foto de perfil*/
  .part1{
    box-sizing: border-box 2px;
    padding: 40px;
    margin-bottom:40px;   
    display: flex;
  }

  
  /*Medidas de las imagenes de las card*/
  .card-img-top{
    width: 150px;
    height: 365px;
  }
  /*Margen entre las cards*/
  .cards{
    margin-top: 50px;
  }
  /*Medidas de las card*/
  .card0{
    display: inline-block !important;
    margin-left: 95px;
    width: 33rem;  
    background-color: #189DAD  ;
    margin-top: 30px;
    color: #8DF1FC    ;
    border-radius: 40px;
  }
  