.card0{
    display: inline-block !important;
    margin-left: 95px;
    width: 30rem;  
    background-color: lightskyblue ;
    margin-top: 30px;
    border-radius: 40px;
   
  }
  
  .card-text{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.card-title{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: cornsilk;
}

.btn1{
    margin-bottom: initial;
    margin-left: 95px;
    width: 10%;
    height: 100%;
    display: block;
    background-color: lightseagreen;
    border-radius: 40px;
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-fluid2{
    width: 90%;
    height: 100%;
    border-radius: 40px;
}

.card-header{
    background-color: mediumaquamarine;
    height: 90px;
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}