.tarjeta009 {
    display: inline-block !important;
    margin-left: 400px;
    width: 35rem;
    height: 15rem;
    background-color: lightskyblue;
    margin-top: 30px;
    border-radius: 40px;
   }
   .cardin78{
     background-color: #B2E366 ;
     border-radius: 40px;
     color: #6AC032 ;
     border-color:transparent ;
   }
   .cardin79{
     background-color: crimson;
     border-radius: 40px;
     color: #F8E2E7 ;
     border-color:transparent ;
   }
   .tarjeta008 {
    display: inline-block !important;
    margin-left: 400px;
    width: 35rem;
    height: 15rem;
    background-color: crimson;
    margin-top: 30px;
    border-radius: 40px;
   }
   
   .foro {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: black;
    text-align: center;
   }
   
   .foro {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: cornsilk;
    text-align: center;
   }
   
   .mini10 {
    margin-bottom: initial;
    margin-left: 10x;
    width: 15%;
    height: 100%;
    display: block;
    background-color: lightseagreen;
    border-radius: 40px;
    text-align: center;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   }
   
   .maria {
    width: 200px;
    height: 240px;
   }
   
   .listo {
    background-color: mediumaquamarine;
    height: 90px;
    text-align: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
   }
   
   @media all and (max-width: 640px), (max-height: 360px) {
    .tarjeta009 {
      display: inline-block !important;
      margin-left: 200px;
      width: 40rem;
      background-color: cadetblue;
      margin-top: 80px;
      color: black;
      border-radius: 40px;
    }
   
    .tarjeta008 {
      display: inline-block !important;
      margin-left: 200px;
      width: 40rem;
      height: 15rem;
      background-color: crimson;
      margin-top: 90px;
      border-radius: 40px;
    }
   
    .foro {
      font-size: large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: black;
      text-align: center;
    }
   
    .foro {
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      text-align: center;
      color: black;
      text-align: center;
    }
   
    .mini10 {
      margin-top: 300px;
      margin-bottom: initial;
      margin-left: 100px;
      width: 14rem;
      height: 3rem;
      display: block;
      background-color: lightseagreen;
      border-radius: 40px;
      text-align: center;
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
   
    .maria {
      width: 200px;
      height: 240px;
    }
   
    .listo {
      background-color: mediumaquamarine;
      height: 90px;
      width: 65rem;
      text-align: center;
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }
   }
   