.bienvenido {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    background-color: cadetblue  ;
 }
 .triiiii{
     background-color: #B1EBF0 ;
     font-size: 48px;
     color: #18C6D5 ;
 }
 .frase {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 .tamañoescrt{
    font-size: 24px;
    color: #56D1DC ;
 }
 .columnadefondito{
    background-image: url(https://as1.ftcdn.net/jpg/00/79/92/36/500_F_79923646_y5Nu3OQSsiN7cu9818nLS0guVxRPXeEL.jpg);
 }
 .eslogan {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 
 
 .valoracion {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    color: cornflowerblue;
 }
 
 .c01{
    display: inline-block !important;
    margin-left: 250px;
    width: 30rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .editar10{
    height: 250px;
    width:250px;
    margin-left: 100px;
  }
 
  .campesino1{
    height: 300px;
    width: 190px;
  }
 
 
 .campesino{
    height:500px;
    width: 390px;
    margin-left: 35%;
  }
  .margincitomijo{
     margin-top: 2%;
  }
 
  .descrip{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
 }
 
 .max{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: cornsilk;
 }
 

 
 
 .curiosidad{
    background-color: rgb(199, 85, 104);
    color: rgb(199, 85, 104);
    height: 500%;
    width: 100%;
 }
 
 .c012{
    display: inline-block !important;
    margin-left: 250px;
    width: 30rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .campesino3{
    height:300px;
    width: 480px;
  }
 
  .card1{
    display: inline-block !important;
    margin-left: 60px;
    width: 25rem; 
    background-color: lightblue;
    margin-top: 25px;
    color: lightblue;
    border-radius: 40px; 
 }
 

 
 
 @media all and (max-width: 640px), (max-height: 360px){
  
 .bienvenido {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    background-color: cadetblue  ;
    margin-left: 0px;
    width: 400px
 
 }
 
 .frase {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 
 .eslogan {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 
 
 .valoracion {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    color: cornflowerblue;
 }
 
 .c01{
    display: inline-block !important;
    margin-left: 10px;
    width: 20rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .editar10{
    height: 250px;
    width:250px;
    margin-left: 100px;
  }
 
  .campesino1{
    height: 300px;
    width: 200px;
  }
 

 
  .descrip{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
 }
 
 .max{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: cornsilk;
 }
 
 
 
 .curiosidad{
    background-color: rgb(199, 85, 104);
    color: rgb(199, 85, 104);
    height: 500%;
  
    width: 400px
 }
 
 .c012{
    display: inline-block !important;
    margin-left: 250px;
    width: 30rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .campesino3{
    height:300px;
    width: 480px;
  }
 
  .card1{
    display: inline-block !important;
    margin-left: 60px;
    width: 25rem; 
    background-color: lightblue;
    margin-top: 25px;
    color: lightblue;
    border-radius: 40px; 
 }
 
 .campesino{
    height:500px;
    width: 390px;
    margin-left: 35%;
  }
 
   
 }
 