.fondecoloryestiloboton1{
 background-image: url(https://cdnb.artstation.com/p/assets/images/images/008/422/319/large/sylvain-sarrailh-sauvieartstation.jpg?1512658121);   
height: 250px;
}
.fondecoloryestiloboton2{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/008/422/322/large/sylvain-sarrailh-williametteartstation.jpg?1512658135);
    height: 250px;
}
.fondecoloryestiloboton3{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/029/661/657/large/thomas-guillon-countryside1.jpg?1598275801);
    height: 250px;
}
.espacioenimagenrepres{
margin-left: 42%;
margin-top: 6%;
}
.espacioenimagenrepres2{
    margin-left: 42%;
    margin-top: 6%;
}
.espacioenimagenrepres3{
    margin-left: 42%;
    margin-top: 6%;
}