.bienvenido {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    background-color: cadetblue  ;
 }

 .frase {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 .tama침oescrt{
    font-size: 24px;
    color: #56D1DC ;
 }
 .columnadefondito{
  background-color: #5DADE2;
 }
 .eslogan {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 
 
 .valoracion {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    color: cornflowerblue;
 }
 
 .c01{
    display: inline-block !important;
    margin-left: 250px;
    width: 30rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .editar10{
    height: 250px;
    width:250px;
    margin-left: 100px;
  }
 
  .campesino1{
    height: 300px;
    width: 190px;
  }
 
 
 .campesino{
    height:500px;
    width: 390px;
    margin-left: 35%;
  }
  .margincitomijo{
     margin-top: 2%;
  }
 
  .descrip{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
 }
 
 .max{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: cornsilk;
 }

 .curiosidad{
    background-color: rgb(199, 85, 104);
    color: rgb(199, 85, 104);
    height: 500%;
    width: 100%;
 }
 
 .c012{
    display: inline-block !important;
    margin-left: 250px;
    width: 30rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .campesino3{
    height:300px;
    width: 480px;
  }
 
  .card1{
    display: inline-block !important;
    margin-left: 60px;
    width: 25rem; 
    background-color: lightblue;
    margin-top: 25px;
    color: lightblue;
    border-radius: 40px; 
 }
 

 .dofienaos{
    background-color:  white;
 }

/*Ensayo2*/


@font-face {
   font-family: "Grotesque";
   src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Regular.woff");
   font-weight: normal;
}
@font-face {
   font-family: "Grotesque Black";
   src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.eot"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.ttf"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/BrandonGrotesque-Black.woff");
   font-weight: bold;
}
* {
   box-sizing: border-box;
}
.html23, .body23 {
   font-size: 100%;
}
.body23 {
   padding: 0;
   margin: 0;
   background: #152536;
}
.aetc[href] {
   position: relative;
}
.aetc[href], .aetc[href]:link, .aetc[href]:visited, .aetc[href]:active {
   text-decoration: none;
   color: #d8276c;
   text-shadow: 2px 2px 2px #070c11;
   padding-bottom: 3px;
   font-weight: bold;
}
.aetc[href]::after {
   content: "";

   left: 0;
   left: 0;
   bottom: 0;
   background: #fff;
   width: 0;
   height: 1px;
   transition: 0.35s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.aetc[href]:hover::after {
   width: 100%;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}
.note402 {
   margin-top: 30px;
   color: #fff;
   font-size: 1rem;
   font-family: 'Merriweather', sans-serif;
   line-height: 1.5;
   text-align: center;
}
.article23.card345 {

   left: 50%;
   top: 50%;
   left: 50%;
   width: 350px;
   height: 350px;
   transform: translate(-50%, -50%) translateZ(0);
   border-radius: 3px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
   overflow: hidden;
   margin-left: 15%;
   margin-top: 15%;
   display:inline-block block;
}
.distanciasinline{
  margin-left: 10%;
  background-image: url( https://cdn.dribbble.com/users/1626229/screenshots/6154241/design_leadership.jpg);

  margin-top: 15%;
}
.article23.card345 .thumb {
   width: auto;
   height: 260px;
   background: url("https://elnordeste.com/wp-content/uploads/2019/06/Campesinos.png") no-repeat center;
   background-size: cover;
   border-radius: 3px;
}
.article23.card345 .thumb2 {
   width: auto;
   height: 260px;
   background: url("https://previews.123rf.com/images/yongkiet/yongkiet1503/yongkiet150300007/37707904-corte-del-granjero-de-c%C3%A1scara-de-coco-para-el-procesamiento-de-productos-agr%C3%ADcolas-en-una-peque%C3%B1a-f%C3%A1brica-en-.jpg") no-repeat center;
   background-size: cover;
   border-radius: 3px;
}
.article23.card345 .thumb3 {
   width: auto;
   height: 260px;
   background: url("https://cubanosporelmundo.com/wp-content/uploads/2019/03/0307-campesino4-758x397.jpg") no-repeat center;
   background-size: cover;
   border-radius: 3px;
}
.article23.card345 .thumb4 {
   width: auto;
   height: 260px;
   background: url("https://www.guiadejardineria.com/wp-content/uploads/2012/04/abono-natural.jpg") no-repeat center;
   background-size: cover;
   border-radius: 3px;
}
.article23.card345 .thumb5 {
   width: auto;
   height: 260px;
   background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQBjEgMfaS0Td8naMzmKhZ3ajAztk180UxrhA&usqp=CAU") no-repeat center;
   background-size: cover;
   border-radius: 3px;
}
.article23.card345 .infos {
   width: auto;
   height: 350px;
   position: relative;
   padding: 14px 24px;
   background: #fff;
   transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.article23.card345 .infos .title234 {
   position: relative;
   margin: 10px 0;
   letter-spacing: 3px;
   color: #152536;
   font-family: 'Grotesque Black', sans-serif;
   font-size: 1rem;
   text-transform: uppercase;
   text-shadow: 0 0 0px #32577f;
}
.article23.card345 .infos .flag {

   top: 50%;
   right: 0;
   transform: translateY(-50%);
   width: 35px;
   height: 23px;
   background: url("https://cdn0.iconfinder.com/data/icons/free-skycons-mix-april-1/128/yumminky-skycons-mix-01-512.png") no-repeat top right;
   background-size: 100% auto;
   display: inline-block;/*LEONORA*/
}


.article23.card345 .infos .date, .article23.card345 .infos .seats {
   margin-bottom: 10px;
   text-transform: uppercase;
   font-size: 0.85rem;
   color: rgba(21, 37, 54, .7);
   font-family: 'Grotesque', sans-serif;
}
.article23.card345 .infos .seats {
   display: inline-block;
   margin-bottom: 24px;
   padding-bottom: 24px;
   border-bottom: 1px solid rgba(0, 0, 0, .2);
   opacity: 0;
   transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.article23.card345 .infos .txt45 {
   font-family: 'Merriweather', sans-serif;
   line-height: 2;
   font-size: 0.95rem;
   color: rgba(21, 37, 54, .7);
   opacity: 0;
   transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
   color: black;
}
.article23.card345 .infos .details345 {

   left: 0;
   left: 0;
   bottom: 0;
   margin: 10px 0;
   padding: 20px 24px;
   letter-spacing: 1px;
   color: #4e958b;
   font-family: 'Grotesque Black', sans-serif;
   font-size: 0.9rem;
   text-transform: uppercase;
   cursor: pointer;
   opacity: 0;
   transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}
.article23.card345:hover .infos {
   transform: translateY(-260px);
}
.article23.card345:hover .infos .seats, .article23.card345:hover .infos .txt, .article23.card345:hover .infos .details345 {
   opacity: 1;
}


/**/

.curiosidadescuadro{
   background-color: transparent;
margin-left: 2%;
margin: 2%;
color: white;

}

.curiosidadescuadro1{
   background: linear-gradient(to top, #f5f5f5  0%, #86C9F5  100%);
   margin-left: 3%;
   margin-top: 1%;
   display: inline-flex;
   width: 1300px


}
.Sue침ospais{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 90px
}
.Sue침ospais1{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 70px;
   text-align: center
}
/*Ensayo*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.bodyoiuy {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.cardinetre{
   background: #fff;
   border-radius: 4px;
   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
   display: flex;
   flex-direction: row;
   border-radius: 25px;
   position: relative;
   margin: 1%;
   width:500px;
   height: 500px;
}

.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}
.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}
.card-textinghtyo{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}
path {
 
  fill: white;

}
.img-portada {
  width: 100%;
}

.portadakar1{
   width: 100%;
   height: 100%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   background-image: url("https://image.freepik.com/foto-gratis/hileras-vegetales-pimiento-crecen-campo-agricultura-agricultura_72572-4.jpg");
   background-position: bottom center;
   background-size: cover;
 
}

.portadakar2{
   width: 100%;
   height: 100%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   background-image: url("https://image.freepik.com/foto-gratis/campo-fresas_1203-7581.jpg");
   background-position: bottom center;
   background-size: cover;
}

.portadakar3{
   width: 100%;
   height: 100%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   background-image: url("https://image.freepik.com/foto-gratis/senior-pareja-cosechando-cultivos_23-2148256697.jpg");
   background-position: bottom center;
   background-size: cover;
}

.portadakar4{
   width: 100%;
   height: 100%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   background-image: url("https://image.freepik.com/foto-gratis/agricultor-manejando-tractor-pequeno-cultivo-suelo-excavacion-papa-cosecha-otono-cosecha-papa_106029-673.jpg");
   background-position: bottom center;
   background-size: cover;
}
.buttonastaca {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: 0.5s;
}
.buttonastaca:hover {
  color: #4CAF50;
  transform: rotate(22deg);
}

.fonfeseparacionconllecion{
   display: inline-flex;
   margin: 5%;
 }
 .fonfeseparacionconllecion1{
   display: inline-block;
   margin: 5%;
 }
.fondocondibujitos{
   background-image: url(https://cdn.dribbble.com/users/1626229/screenshots/6154241/design_leadership.jpg);
   background-color: #5DADE2 ;



}
/*Terminaci칩n*/
 @media all and (max-width: 640px), (max-height: 360px){
  
 .bienvenido {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    background-color: cadetblue  ;
    margin-left: 0px;
    width: 400px
 
 }
 
 .frase {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 
 .eslogan {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
 }
 
 
 .valoracion {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    color: cornflowerblue;
 }
 
 .c01{
    display: inline-block !important;
    margin-left: 10px;
    width: 20rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .editar10{
    height: 250px;
    width:250px;
    margin-left: 100px;
  }
 
  .campesino1{
    height: 300px;
    width: 200px;
  }
 

 
  .descrip{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
 }
 
 .max{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #5DADE2 ;
 }
 
 
 
 .curiosidad{
    background-color: rgb(199, 85, 104);
    color: rgb(199, 85, 104);
    height: 500%;
  
    width: 400px
 }
 
 .c012{
    display: inline-block !important;
    margin-left: 250px;
    width: 30rem; 
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
  
  }
   .campesino3{
    height:300px;
    width: 480px;
  }
 
  .card1{
    display: inline-block !important;
    margin-left: 60px;
    width: 25rem; 
    background-color: lightblue;
    margin-top: 25px;
    color: lightblue;
    border-radius: 40px; 
 }
 
 .campesino{
    height:500px;
    width: 390px;
    margin-left: 35%;
  }
 
  .cardinetre{
 
   border-radius: 4px;
   box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
   max-width: 400px;
   display: flex;
   flex-direction: row;
   border-radius: 25px;
   position: relative;
   margin: 1%;
   margin-top: 5%;
   width:300px;
   height: 800px;
   background: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
 } 
.noneavatar{
   display: none;
}
.colorcitodeblanco{
   color: white;
   font-style: oblique;
}
.desc{
   color: white;
}
.triiiii{
   background-color: white;
   font-size: 48px;
   color: #18C6D5 ;
}
.noptitl{
   display: none;
}
.fondocondibujitos{
  background-color: #3498DB 
  ;
  background-image: none;
}
.desaparecercu{
   display: none;
}
.curiosidadescuadro1{


}
 }
 