.carousel-item {
    width: 100% !important;
    min-width: 100%;
    max-height: 700%;
    min-height: 100%;  
    
}



/*.card0{
    display: inline-block !important;
    margin: 5%;
    width: 33rem;  
    background-color: #189DAD  ;
    color: #8DF1FC    ;
    margin: 0%;
}

.bienvenido {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

.frase {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

.eslogan {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}


.valoracion {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    color: cornflowerblue;
}

*/
.bienvenido {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

.frase {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}

.eslogan {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}


.valoracion {
    font-size: xx-large;
    font-family: cursive;
    text-align: center;
    color: cornflowerblue;
}

.card0{
    display: inline-block !important;
    margin-left: 95px;
    width: 30rem;  
    background-color: cadetblue  ;
    margin-top: 30px;
    color: cadetblue  ;
    border-radius: 40px;
   
  }
  

.img-fluid{
    height:120px;
    width: 100px;
  }

  .card-text{
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.card-title{
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: cornsilk;
}

h4{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-fluid1{
    height:50px;
    width: 50px; 
}

.card1{
    display: inline-block !important;
    margin-left: 60px;
    width: 25rem;  
    background-color: lightblue;
    margin-top: 25px;
    color: lightblue;
    border-radius: 40px;  
}

.card-img-top{
    height:200px;
    width: 20px;  
}

.card{
    background-color: rgb(199, 85, 104);
    color: rgb(199, 85, 104);
    height: 500%;
    width: 100%;
}