.fondecoloryestiloboton1{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/008/422/319/large/sylvain-sarrailh-sauvieartstation.jpg?1512658121);   
    height: 250px;
}
.fondecoloryestiloboton2{
    background-image: url(https://cdna.artstation.com/p/assets/images/images/008/422/322/large/sylvain-sarrailh-williametteartstation.jpg?1512658135);
    height: 250px;
}
.fondecoloryestiloboton3{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/029/661/657/large/thomas-guillon-countryside1.jpg?1598275801);
    height: 250px;
}
.espacioenimagenrepres-iniciosesiongeneral{
    margin-left: 42% !important;
    margin-top: 6%;
    background-color:  #AED6F1;
    border: 3px solid #6258FE;
}
.espacioenimagenrepres2-iniciosesiongeneral{
    margin-left: 42% !important;
    margin-top: 6%;
    background-color:  #AED6F1;
    border: 3px solid #6258FE;
}
.espacioenimagenrepres3-iniciosesiongeneral{
    margin-left: 42% !important;
    margin-top: 6%;
    background-color:  #AED6F1;
    border: 3px solid #6258FE;
}


@media all and (max-width: 640px), (max-height: 360px){
    .fondecoloryestiloboton3{
        background-image: url(https://cdnb.artstation.com/p/assets/images/images/029/661/657/large/thomas-guillon-countryside1.jpg?1598275801);
        height: 250px;
        margin-bottom: 40px;
    }
    .espacioenimagenrepres-iniciosesiongeneral{
        margin-left: 18% !important;
        margin-top: 24%;
    }
    .espacioenimagenrepres2-iniciosesiongeneral{
        margin-left: 18% !important;
        margin-top: 24%;
    }
    .espacioenimagenrepres3-iniciosesiongeneral{
        margin-left: 18% !important;
        margin-top: 24%;
    }
}