.FONDO{
    background-image: url(https://as1.ftcdn.net/jpg/02/09/46/12/500_F_209461275_p8RcER2WsXXCYUWOqf9oIMtU1MqCZPjE.jpg);
}
.Titulito{
    font-style: bold;
    font-size:48px;
    text-align: center;
    background-color: #D2F1F9;
}
.img{
    height: 90px;
    width: 90px;
}
.img1{
    height: 80px;
    width: 80px;
}
.IMA{
    height: 500px;
    width: 700px;
}
.COL{
    margin-left: 20%;
    margin-right: 20%;

}
p{
    background-color: white;
}
.FON{
    background-image: url(https://as1.ftcdn.net/jpg/02/09/46/12/500_F_209461275_p8RcER2WsXXCYUWOqf9oIMtU1MqCZPjE.jpg);
}