.FONDO{
    background-image: url(https://as1.ftcdn.net/jpg/02/09/46/12/500_F_209461275_p8RcER2WsXXCYUWOqf9oIMtU1MqCZPjE.jpg);
}
.Titulito-principlavaloracioncampesino{
    font-style: bold;
    font-size:48px;
    text-align: center;
    color:#0CB4D6 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgDEC{
    height: 90px;
    width: 90px;
}
.img1dec{
    height: 80px;
    width: 80px;
}
.IMA{
    height: 500px;
    width: 700px;
}
.COL{
    margin-left: 20%;
    margin-right: 20%;

}
.pepito{
background-color: #42C7F5 ;
}
.parrafodevaloracioncampesino-letra{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
}
.FON{
    background-image: url(https://as1.ftcdn.net/jpg/02/09/46/12/500_F_209461275_p8RcER2WsXXCYUWOqf9oIMtU1MqCZPjE.jpg);
}
@media all and (max-width: 640px), (max-height: 360px){
    .COL{
        margin:auto;
    
    }   
  .IMA{
    height: 150px;
    width: 200px;  
  }
}
