.bienvenido1 {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: #0aa4ca;
   }
   
   .info1 {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: #5AD5DF ; 
    background-color: white;
   }
   
   .perfil90 {
    height: 120px;
    width: 100px;
   }
   .fonditouciopaf{
     background-color: #CBF3F6 ;
   }
   .corte201 {
    display: inline-block !important;
    margin-left: 400px;
    width: 40rem;
    background-color: #5AD5DF ;
    margin-top: 30px;
    color: #5AD5DF ;
    border-radius: 40px;
   }
   
   .corte20 {
    display: inline-block !important;
    margin-left: 35px;
    width: 39rem;
    background-color: #5AD5DF ;
    margin-top: 30px;
    color: #5AD5DF ;
    border-radius: 40px;
   }
   
   .ñaña1 {
    font-size: medium;
    color: white;
    margin: 2%;
   }
   
   .ñaña {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: cornsilk;
   }
   
   .casa11 {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    color: lightblue;
   }
   
   .perfil00 {
    width: 100%;
    height: 100%;
   }
   
   .ver {
    width: 100rem;
    width: 300px;
    height: 300px;
   }
   
   @media all and (max-width: 640px), (max-height: 360px) {
    .bienvenido1 {
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      text-align: center;
      color: #0aa4ca;
      width: 65rem;
    }
   
   
   
    .img-fluid90 {
      height: 120px;
      width: 100px;
    }
   
    .card201 {
      display: inline-block !important;
      margin-left: 200px;
      width: 40rem;
      background-color: cadetblue;
      margin-top: 30px;
      color: cadetblue;
      border-radius: 40px;
    }
   
    .card20 {
      display: inline-block !important;
      margin-left: 200px;
      width: 39rem;
      background-color: cadetblue;
      margin-top: 30px;
      color: cadetblue;
      border-radius: 40px;
    }
   
    .ñaña1 {
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      color: black;
    }
   
    .ñaña {
      font-size: xx-large;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      text-align: center;
      color: cornsilk;
    }
   
    .casa11 {
      width: 100%;
      height: 100%;
      background-color: lightblue;
      color: lightblue;
      width: 65rem;
    }
   
    .perfil00 {
      width: 100%;
      height: 100%;
    }
   
    .ver {
      width: 1000px;
      margin-left: 250px;
    }
     
   .corte201 {
    display: inline-block !important;
    margin-left: 5%;
    width: 20rem;
    background-color: #5AD5DF ;
    margin-top: 30px;
    color: #5AD5DF ;
    border-radius: 40px;
   }
   
   .corte20 {
    display: inline-block !important;
    margin-left:5%;
    width: 20rem;
    background-color: #5AD5DF ;
    margin-top: 30px;
    color: #5AD5DF ;
    border-radius: 40px;
   }
   .ñaña1 {
    font-size: medium;
    color: white;
    margin: 2%;
   }
   .info1{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: #5AD5DF ;   
    background-color: white;
   }
   }
   