.Fondodequienes{
    background-image: url(https://cdn.dribbble.com/users/3639405/screenshots/9090720/media/c0b978441263a0130c6eedfc04512bfb.jpg);
}
.parrafocitoquien{
    background-color: #028590 ;
    color: #028590 ;
    margin: 3%;
    font-size: 24px;
    
}
.Parrafoytitulodequien{
    background-color: #6DD4D8  ;  
    margin: 1%;
    background-color: #6DD4D8  ; 
    border: 1% #028590 ; 
}
.Contenedorparacambiarancho{
   margin-left: 8%;
}
.Maxcontenquien{
    background-color: #6DD4D8  ; 
}
.centricoquien{
    text-align: center;
    margin: 2%;
    margin-left: 46%;
}
.Distanciasdecuadro{
    margin:12%;
 
}
.colordeletra{
    background-color: #5DADE2 
    ;
    color: white;
    font-size: 24px;
}
.backgroundinicio22{
    
    border: 10px solid #88CBF7 ;
    background: linear-gradient(90deg,  #5DADE2  , #3FB7C1);
 background-color: #3FB7C1 ;
    background-blend-mode: normal;
margin-left: 18%;
filter:darken;
border-radius: 40px;
width: 900px;
height: 500px;
padding-left: 80px;
padding-right: 80px;
padding-top: 80px;

}
@media all and (max-width: 640px), (max-height: 360px){
    .Contenedorparacambiarancho{
        margin-left: 3%;
     }   
     .centricoquien{
        text-align: center;
        margin: 2%;
        margin-left: 32%;
    }
    .backgroundinicio22{
    
        border: 10px solid #88CBF7 ;
        background: linear-gradient(90deg,  #5DADE2  , #3FB7C1);
     background-color: #3FB7C1 ;
        background-blend-mode: normal;
        margin-top: 9%;
    margin-left: 9%;
    filter:darken;
    border-radius: 40px;
    width: 300px;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
    }
}