.img-fluid01{
    height:150px;
    width: 150px;
  }

.compradorcambiocard{
    display: inline-block !important;
    margin: 5%;
    max-width: 500px;
 }

 .Topuncioocparacomprador{
    border-radius: 40px;
  } 

  .card0{
    display: inline-block !important;
    margin: 5%;
    width: 20px;  
    background-color: #189DAD  ;
    color: #8DF1FC    ;
    margin: 60px;
    border-radius: 40px;
  }
.cardin{
border-color: goldenrod;
color: #7A138C ;
background-color: #E2A6EC ;
}
.cardin1{
background-color: #FFA07A;
color: wheat;
}
.cardin2{
background-color: #7FDFF3;
color: #31B8D3 ;
}
.cardin3{
background-color: #F1C935 ;
color: #8D7419 ;
}


.Contenedor{
    background-color: #FCE7AA ;
    background-color: #C2F1FC ;
    
    }

  .card01com{
        display: inline-block !important;
        margin: 5%;
        width: 33rem;  
        background-color: #189DAD  ;
        color: black   ;
        margin: 60px;
        border-radius: 40px;
      }
.anecdotadeunahistoria{
  background-color:#85C1E9 ;
}
/*ENSAYO*/
/*TODO: clean it all up, finish flex, add aesthetics, icons, redefine to be relative to vh-vw, maybe rework v2 variant using scss and frames and real transitions? */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.body134 {
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
}
.cardfree {
  background: linear-gradient(to top, #f5f5f5  0%, #86C9F5  100%);
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: inline-block;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin: 1%;
  width: 380px;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}
.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}
.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}
.card-textwer {
  display: flex;
  grid-template-columns: 1fr 2fr;
}
.title-total-comprador {
  margin-left: -30px ;
  margin-top: 20px;
}
path {
  fill: white;
}
.img-portada {
  width: 100%;
}
.imagenproducto-comprador14{
  margin-top: 50px;
  height: 400px;
  width: 180px;
  margin-right: 50px;
}
.portada2 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url(../Imagenes/mazorca.png);
  background-position: bottom center;
  background-size: cover;
  
}
.portada3 {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url(../Imagenes/yuca.png);
  background-position: bottom center;
  background-size: cover;
  
}
.buttondeunique {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition: 0.5s;
}
.buttondeunique:hover {
  color: #4CAF50;
  transform: rotate(22deg);
}

/*FIN ENSAYO*/
.Ejerciciodecontenedordiferencial{
  margin-left: 5%;
}
.fonfeseparacionconllecion7{
  display: inline-block;
  margin: 5%;
}
.nesparaver{
  background-color: transparent;
  margin-left: 38%;

}
.separecionbur{
  margin: 1%;
}
.diseñocentrocom{
  background-color: transparent;
}
.diesñosubdecom{
  background-color: #2E86C1 ;
}
.cultivoscambiofof{
  background-color: white;
  font-size: 52px;
  text-align: center;
  color: #2E86C1 ;
}
@media all and (max-width: 640px), (max-height: 360px){
    .carousel{
        display: none;
      }
      .card01com{
        display: inline-block !important;
        margin: 2%;
        width: 300px;  
        background-color: #189DAD  ;
        color: black   ;
        margin: 2%;
        margin-left: 5%;
        border-radius: 40px;   
      }
      .diesñosubdecom{
        margin-left: 15%;
        margin-right: 15%;
        font-size: 48px;
        background-color: #1BBECB ;
        text-align: center;
        color: white;
        
        }
        .diseñocentrocom{
            margin-left: 20%;
            margin-right: 20%;
            font-size: 24px;
            background-color: #62CCD5 ;
            text-align: center;
            color: white;
            
        }
        .contenedorbotonesparaver{
          margin-left: 15%;
          margin-right: 15%;
            background-color: #1BBECB ;     
        }
        .diseñocentrocom{
          background-color: transparent;
        }
        .diesñosubdecom{
          background-color: #2E86C1 ;
        }
        .fonfeseparacionconllecion7{
          display: inline-block;
          margin: 5%;
        }
        .separecionbur{
        
          text-align: center;
        }
}      